/*  media query  */
@media screen and (max-width:830) {
    .destacados div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width:678px) {
    .hero div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .hero h2 {
        font-size: 40px;
    }

    .hero p {
        font-size: 20px;
    }
}